<include href="views/header.html"/>
<body>
<div class="container-flex" style="background-color: whitesmoke">
    <include href="views/nav.html"></include>
</div>
<div class="d-flex justify-content-center">
    <div class="cart-body row rounded">
        <div class="col-10">
            <h2 class="display-4 text-center">Shopping Cart</h2>
            <repeat group="{{ @cart-items }}" value="{{ @cart-items }}">
                <!--Item-->
                <div class="row container bg-white rounded border border-secondary cart-item">
                    <div class="col-md-3">
                        <!--Thumbnail-->
                        <img class="img-thumbnail product-thumb" src="images/rtx-3080-founders.jpg">
                    </div>
                    <div class="col-md-7">
                        <!--Product-->
                        <h2 class="display-6 text-center">NVIDIA RTX 3080 Founders Edition</h2>
                        <div class="row-fluid rounded border border-muted">
                            <p></p>
                        </div>

                    </div>
                    <div class="col-md-2 text-right align-self-end">
                        <!--Price-->
                        <div class="row-fluid"><a class="btn btn-gold" href="#">-</a><a class="rounded border border-secondary quanity-label">2</a><a class="btn btn-gold" href="#">+</a></div>

                        <h2 style="display: inline">$</h2><h2 style="display: inline">9999.99</h2>

                    </div>
                </div>
            </repeat>




        </div>
        <div class="col-2 align-self-end">
            <a class="btn btn-lg btn-gold" href="#">Place Order</a>
        </div>
    </div>
</div>
  <div class="cart-body row rounded">
    <div class="col-10">
      <h2 class="display-4 text-center">Shopping Cart</h2>
      <repeat group="{{ @cart-items }}" value="{{ @cart-items }}">
        <!--Item-->
        <div class="row container bg-white rounded border border-secondary cart-item">
          <div class="col-md-3">
            <!--Thumbnail-->
            <img class="img-thumbnail product-thumb" src="images/rtx-3080-founders.jpg">
          </div>
          <div class="col-md-7">
            <!--Product-->
            <h2 class="display-6 text-center">NVIDIA RTX 3080 Founders Edition</h2>
            <div class="row-fluid rounded border border-muted">
              <p></p>
            </div>

          </div>
          <div class="col-md-2 text-right align-self-end">
            <!--Price-->
            <div class="row-fluid"><a class="btn btn-gold" href="#">-</a><a class="rounded border border-secondary quanity-label">2</a><a class="btn btn-gold" href="#">+</a></div>

            <h2 style="display: inline">$</h2><h2 style="display: inline">9999.99</h2>

          </div>
        </div>
      </repeat>




  </div>
  <div class="col-2 align-self-end">
    <a class="btn btn-lg btn-gold" href="#">Place Order</a>
  </div>
</div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>