<include href="views/header.html"/>
<body>
<section class="home-page">
    <div class="sidebar">
        <div class="login-main-text">
            <h2>PC Master Race<br> Login Page</h2>
            <p>Login or register to shop the best PC parts for your system.</p>
        </div>
    </div>
    <div class="main-page">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form id="homeLoginForm" action="#" method="post">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" placeholder="User Name" id="uname" name="uname">
                        <span class="err" id="err-user">Please enter a  valid username cannot be empty</span>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                            <input type="password" class="form-control" placeholder="Password" id="pass" name="pass">
                        </span>
                        <span class="err" id="err-pass">Please enter a valid password</span>
                    </div>

                    <br>
                    <!-- Login & Register buttons -->
                    <div> <!--class="col-12">-->
                        <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
                        <a href="register"><button type="button" class="btn btn-primary" id="registerButton">Register</button></a>
                    </div>
                    <br>

                    <!-- Demo Login button -->
                    <div> <!--class="col-12">-->
                        <a href="cart"><button type="button" class="btn btn-primary" id="demoButton">Demo Login</button></a>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="scripts/homeScript.js"></script>
</body>
</html>
