<include href="views/header.html"/>
<body>
<section class="home-page">
    <div class="sidebar">
        <div class="login-main-text">
            <h2>PC Master Race<br> Login Page</h2>
            <p>Login or register to shop the best PC parts for your system.</p>
        </div>
    </div>
    <div class="main-page">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form id="homeLoginForm" action="#" method="post">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" placeholder="User Name" id="uname" name="uname">
                        <span class="err" id="err-user">Please enter a  valid username cannot be empty</span>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="pass" name="pass">
                        <span class="err" id="err-pass">Please enter a valid password</span>
                    </div>

                    <br>
                    <!-- Login & Register buttons -->
                    <div> <!--class="col-12">-->
                        <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
                        <a href="register"><button type="button" class="btn btn-primary" id="registerButton">Register</button></a>
                    </div>
                    <br>

                    <!-- Demo Login button -->
                    <div> <!--class="col-12">-->
                        <a href="cart"><button type="button" class="btn btn-primary" id="demoButton">Demo Login</button></a>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="scripts/homeScript.js"></script>
</body>
</html>
