<include href="views/header.html"/>
<body>

<section class="home_page">
    <div class="containter" style="background-color: rebeccapurple">
<!--        <img src="images/pcmr_icon.png" alt="PC Master Race" id="PCMRIcon">-->
        <h3>Login</h3>
    </div>



</section>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>