<include href="views/header.html"/>
<body>
    <div class="container" style="background-color: whitesmoke">
        <h1>PCMR Parts</h1>
        <p>Nav bar and images header</p>
    </div>
    <div class="row">
        <div class="col-3" style="background-color: lightyellow; margin-left: 10px;">
            <p>Side nav bar</p>
        </div>
        <div class="col-9" style="background-color: wheat; margin-right: -20px">
            <p>content bar</p>
        </div>
    </div>

</body>
</html>